@model KhachSan.Models.ContactModel
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <!-- Contact form -->
        <section id="contact-form" class="mt50">
            <div class="col-md-8">
                <h2 class="lined-heading"><span style="text-transform:uppercase">Gửi mail cho chúng tôi</span></h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    @*@Html.EditorForModel();*@
                    <input type="hidden" name="ks" value="1">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name" accesskey="U"><span class="required">*</span> Họ và tên</label>
                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email" accesskey="E"><span class="required">*</span> E-mail</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" accesskey="S">Tiêu đề</label>
                        @Html.TextBoxFor(model => model.Subject, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="comments" accesskey="C"><span class="required">*</span> Nội dung</label>
                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control" })
                    </div>
                    <button type="submit" class="btn  btn-lg btn-primary">Gửi</button>
                }

                @*<form class="clearfix mt50" role="form" onsubmit="return send_lienhe(this)" method="post" action="#" name="frmContact" id="frmContact">
                        <input type="hidden" name="ks" value="1">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name" accesskey="U"><span class="required">*</span> Họ và tên</label>
                                    <input name="name" type="text" id="name" class="form-control" value="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email" accesskey="E"><span class="required">*</span> E-mail</label>
                                    <input name="email" type="text" id="email" value="" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subject" accesskey="S">Tiêu đề</label>
                            <input name="title" type="text" id="title" value="" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="comments" accesskey="C"><span class="required">*</span> Nội dung</label>
                            <textarea name="message" rows="9" id="message" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn  btn-lg btn-primary">Gửi</button>
                    </form>*@
            </div>
        </section>

        <!-- Contact details -->
        <section class="contact-details mt50">
            <div class="col-md-4">
                <h2 class="lined-heading"><span style="text-transform:uppercase">Thông tin liên hệ</span></h2>
                <div><span style="color:rgb(178, 34, 34)"><strong>Khách sạn KIM THÁI</strong></span></div>
                <div>
                    Khách sạn Kim Thái là điểm dừng chân lý tưởng và là sự lựa chọn tốt nhất của quý khách khi đi công tác, du lịch tại Thái Nguyên và các tỉnh lân cận. Với kiến trúc hiện đại, nội thất sang trọng gồm 168 phòng nghỉ. Hệ thống internet tốc độ cao, thông tin hiện đại cùng với các phòng họp, hội thảo lớn nhỏ chắc chắn sẽ làm hài lòng quý khách gần xa.
                </div>
            </div>
        </section>
    </div>
</div>
