@model List<Models.Framework.DANH_MUC_TIEN_ICH>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <!-- About -->
        @foreach (var item in Model)
        {
            <section class="about mt50">
                <div class="col-md-12">
                    <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">Chi tiết dịch vụ @item.TENDV</span></h2>
                </div>
                <div class="col-md-5">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab_1">

                            <div style="text-align: justify;">

                                <div style="text-align:center">
                                    <p style="letter-spacing: 4px; font-size: 14px; text-align: center; margin-bottom: 0px;"><h2>@item.TENDV</h2></p>
                                </div>
                                <div class="text-info">
                                    <p class="fontawesome-icon-list">
                                        @item.MOTA
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        <!-- image intro -->
            <section class="testimonials mt50">
                <div class="row">
                    <div class="col-md-6">
                        <div class="thumbnail">
                            <a href="@item.URL">
                                <img src="@item.URL" alt="Lights" style="width:100%">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
</div>

