@model List<Models.Framework.GIOITHIEU>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <!-- About -->
        <section class="about mt50">
            <div class="col-md-12">
                <h2 class="lined-heading bounceInRight appear animated" data-start="800"><span style="text-transform:uppercase">WELCOME TO KIMTHAI HOTEL</span></h2>
            </div>
            <div class="col-md-5">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab_1">
                        <div style="text-align: justify;">
                            @foreach (var item in Model)
                            {
                                <p class="fontawesome-icon-list">@item.MOTA</p>                            
                            }
                            <!--Mota-->
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- image intro -->
        <section class="testimonials mt50">
            <div class="row">
                <div class="col-md-6">
                    <div class="thumbnail">
                        @foreach (var item in Model)
                        {
                            <a href="@item.URLIMAGE">
                                <img src="@item.URLIMAGE" alt="Lights" style="width:100%">
                            </a>
                        }
                    </div>
                </div>
            </div>
            @for (var i = 1; i < 5; i++)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="thumbnail">
                            @foreach (var item in Model)
                            {
                                <a href="@item.URLIMAGE">
                                    <img src="@item.URLIMAGE@i .jpg" alt="Lights" style="width:100%">
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </section>
    </div>
</div>

