@model List<Models.Framework.DANH_MUC_KIEU_PHONG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout_admin.cshtml";
}
<script>
    function checkInput() {
        var tenk = document.getElementById("tenkieup").value;
        var motak = document.getElementById("motakieup").value;
        var nguoilon = document.getElementById("songuoilon").value;
        var treem = document.getElementById("sotreem").value;
        if (tenk == "" || motak == "" || nguoilon == "" || treem == "") {
            alert("Bạn chưa nhập đầy đủ thông tin!");
        }
    };
    function checkUpdate() {
        var tenk = document.getElementById("tenkieu").value;
        var motak = document.getElementById("motakieu").value;
        var nguoilon = document.getElementById("nguoilon").value;
        var treem = document.getElementById("treem").value;
        if (tenk == "" || motak == "" || nguoilon == "" || treem == "") {
            alert("Bạn chưa nhập đầy đủ thông tin!");
        }
    };
    function setData(id) {
        var tenk = "ten-" + id;
        var mota = "mota-" + id;
        var nguoilon = "nguoilon-" + id;
        var treem = "treem-" + id;
        document.getElementById("makieu").value = id;
        document.getElementById("tenkieu").value = document.getElementById(tenk).value;
        document.getElementById("motakieu").value = document.getElementById(mota).value;
        document.getElementById("nguoilon").value = document.getElementById(nguoilon).value;
        document.getElementById("treem").value = document.getElementById(treem).value;
    };
    function deleteItem(id) {
        document.getElementById("idkieu").value = id;
    };
</script>

<!-- DanhSach-->
<section>
    <div id="wrapper">
        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p style="padding:0px; margin:0px; width:100%;"><b style="font-size:20px;">DANH SÁCH KIỂU PHÒNG</b><input style="float:right;" type="button" class="btn btn-primary" name="btnthem" value="Thêm mới kiểu phòng" data-toggle="modal" data-target="#them" /></p>                            
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example" style="font-size:12px;">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>TÊN</th>
                                        <th>MÔ TẢ</th>
                                        <th>SỐ NGƯỜI LỚN</th>
                                        <th>SỐ TRẺ EM</th>
                                        <th>THAO TÁC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@i <input type="hidden" value="@item.MAKIEUPHONG" id="id-@item.MAKIEUPHONG" /></td>
                                            <td>@item.TENKIEUPHONG <input type="hidden" value="@item.TENKIEUPHONG" id="ten-@item.MAKIEUPHONG" /></td>
                                            <td>@item.MOTA <input type="hidden" value="@item.MOTA" id="mota-@item.MAKIEUPHONG" /></td>
                                            <td>@item.SONGUOILON <input type="hidden" value="@item.SONGUOILON" id="nguoilon-@item.MAKIEUPHONG" /></td>
                                            <td>@item.SOTREEM <input type="hidden" value="@item.SOTREEM" id="treem-@item.MAKIEUPHONG" /></td>
                                            <td>
                                                <a data-toggle="modal" href="#sua" class="glyphicon glyphicon-pencil" onclick="setData(@item.MAKIEUPHONG)"></a>
                                                <a data-toggle="modal" href="#xoa" class="glyphicon glyphicon-remove" onclick="deleteItem(@item.MAKIEUPHONG)"></a>
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Them-->
<div id="them" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm mới kiểu phòng</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    @using (Html.BeginForm("themkieu", "Phong", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                    {
                                    <div class="form-group">
                                        <label>Tên kiểu phòng</label>
                                        @Html.TextBox("txttenkieu", null, new { @class = "form-control", @type = "text", @id="tenkieup" })
                                    </div>

                                    <div class="form-group">
                                        <label>Thông tin mô tả</label>
                                        @Html.TextArea("txtmotakieu", null, new { @class = "form-control", @rows = "5", @id = "motakieup" })
                                    </div>
                                    <div class="form-group">
                                        <label>Số người lớn</label>
                                        @Html.TextBox("txttsonguoilon", null, new { @class = "form-control", @type = "number", @id = "songuoilon" })
                                    </div>
                                    <div class="form-group">
                                        <label>Số trẻ em</label>
                                        @Html.TextBox("txttsotreem", null, new { @class = "form-control", @type = "number", @id = "sotreem" })
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary" onclick="checkInput()">Thêm</button>
                                        <button type="reset" class="btn btn-primary">Nhập lại</button>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--sua-->
<div id="sua" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sửa thông tin kiểu phòng</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    @using (Html.BeginForm("capnhatkieu", "Phong", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                    {
                                    <div class="form-group">
                                        <label>Tên kiểu phòng</label>
                                        @Html.TextBox("txtmakieup", null, new { @class = "form-control", @type = "hidden", @id = "makieu" })
                                        @Html.TextBox("txttenkieup", null, new { @class = "form-control", @type = "text", @id = "tenkieu" })
                                    </div>

                                    <div class="form-group">
                                        <label>Thông tin mô tả</label>
                                        @Html.TextArea("txtmotakieup", null, new { @class = "form-control", @rows = "3", @id = "motakieu" })
                                    </div>
                                    <div class="form-group">
                                        <label>Số người lớn</label>
                                        @Html.TextBox("txttsonguoilonp", null, new { @class = "form-control", @type = "number", @id = "nguoilon" })
                                    </div>
                                    <div class="form-group">
                                        <label>Số trẻ em</label>
                                        @Html.TextBox("txttsotreemp", null, new { @class = "form-control", @type = "number", @id = "treem" })
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary" onclick="checkUpdate()">Cập nhật</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--xoa-->
<section>
    <div id="xoa" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Bạn có chắc chắn muốn xóa không ?</h4>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="modal-body">
                                            @using (Html.BeginForm("xoakieu", "Phong", FormMethod.Post))
                                            {
                                            <div class="form-group">
                                                @Html.TextBox("txtidk", null, new { @class = "form-control", @type = "hidden", @id = "idkieu" })
                                            </div>
                                            <div align="center">
                                                <button type="submit" style="float:left" class="btn btn-primary">Yes</button>
                                                <button type="button" style="float:right" class="btn btn-primary" data-dismiss="modal">No</button>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

