@model List<Models.Framework.DANH_MUC_LOAI_PHONG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_layout_admin.cshtml";
}
<script>
    function setData(id) {
        var ten = "tenphong-" + id;
        var mota = "motaphong-" + id;
        var ulr = "ulrimage-" + id;
        document.getElementById('map').value = id;
        document.getElementById('tenp').value = document.getElementById(ten).value;
        document.getElementById('motap').value = document.getElementById(mota).value;
        document.getElementById('ulri1').value = document.getElementById(ulr).value;

    };

    function deleteItem(tid) {
        document.getElementById('idphong').value = tid;
        var ulr = "ulrimage-" + tid;
        document.getElementById('image').value = document.getElementById(ulr).value;
    };

    function check() {
        var ten = document.getElementById('itenp').value;
        if (ten == "") {
            alert("Không được để trống tên loại phòng!");
            document.getElementById("itenp").focus();
        }
    };

    function checkup() {
        var ten = document.getElementById('tenp').value;
        if (ten == "") {
            alert("Không được để trống tên loại phòng!");
            document.getElementById("tenp").focus();
        }
    };
</script>

<section>
    <div id="wrapper">
        <div id="page-wrapper">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p style="padding:0px; margin:0px;"><b style="font-size:20px;">DANH SÁCH LOẠI PHÒNG</b><input style="margin-left:500px;" type="button" class="btn btn-primary" name="btnthem" value="Thêm mới loại phòng" data-toggle="modal" data-target="#them" /></p>
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>TÊN</th>
                                        <th>MÔ TẢ</th>
                                        <th>ẢNH</th>
                                        <th>THAO TÁC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>@i<input type="hidden" value="@item.MALOAIPHONG" id="maphong-@item.MALOAIPHONG" /></td>
                                        <td>@item.TENLOAIPHONG<input type="hidden" value="@item.TENLOAIPHONG" id="tenphong-@item.MALOAIPHONG" /></td>
                                        <td>@item.MOTA<input type="hidden" value="@item.MOTA" id="motaphong-@item.MALOAIPHONG" /></td>
                                        <td><img src="@item.URLIMAGE" style="width:150px; height:80px;"></img><input type="hidden" value="@item.URLIMAGE" id="ulrimage-@item.MALOAIPHONG" /></td>
                                        <td>
                                            <a title="Sửa" data-toggle="modal" href="#sua" onclick="setData(@item.MALOAIPHONG)" class="glyphicon glyphicon-pencil"></a>
                                            <a title="Xóa" data-toggle="modal" href="#xoa" onclick="deleteItem(@item.MALOAIPHONG)" class="glyphicon glyphicon-remove"></a>
                                        </td>
                                    </tr>
                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!--Them-->
<div id="them" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Thêm loại phòng</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    @using (Html.BeginForm("them", "Phong", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                    {
                                        <div class="form-group">
                                            <label>Tên loại phòng</label>
                                            @Html.TextBox("txttenloaiphong", null, new { @class = "form-control", @type = "text", @id = "itenp" })
                                        </div>
                                        <div class="form-group">
                                            <label>Thông tin mô tả</label>
                                            @Html.TextArea("txtmotaphong", null, new { @class = "form-control", @rows = "3", @id = "imota" })
                                        </div>
                                        <div class="form-group">
                                            <label>Ảnh Loại phòng</label>
                                            @Html.TextBox("txturlphong", null, new { @class = "form-control", type = "file" })
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary" onclick="check()">Thêm</button>
                                            <button type="reset" class="btn btn-primary">Nhập lại</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--sua-->
<div id="sua" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Sửa thông tin loại phòng</h4>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="modal-body">
                                        @using (Html.BeginForm("capnhat", "Phong", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                                        {  <div class="form-group">
                                            <label>Tên loại phòng</label>
                                            @Html.TextBox("txtmap", null, new { @class = "form-control", @type = "hidden", @id = "map" })
                                            @Html.TextBox("txttenp", null, new { @class = "form-control", @type = "text", @id = "tenp" })
                                        </div>

                                        <div class="form-group">
                                            <label>Thông tin mô tả</label>
                                            @Html.TextArea("txtmotap", null, new { @class = "form-control", @rows = "3", @id = "motap" })
                                        </div>
                                        <div class="form-group">
                                            <label>Ảnh Loại phòng</label>
                                            @Html.TextBox("txtulrp1", null, new { @class = "form-control", @type = "hidden", @id = "ulri1" })
                                            @Html.TextBox("txtulrp", null, new { @class = "form-control", @type = "file", @id = "ulri" })
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary" onclick="checkup()">Cập nhật</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                                        </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--xoa-->
<section>
    <div id="xoa" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Bạn có chắc chắn muốn xóa không ?</h4>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="modal-body">
                                            @using (Html.BeginForm("xoaphong", "Phong", FormMethod.Post))
                                            {
                                            <div class="form-group">
                                                @Html.TextBox("txtidp", null, new { @class = "form-control", @type = "hidden", @id = "idphong" })
                                            </div>
                                            <div class="form-group">
                                                @Html.TextBox("txtip", null, new { @class = "form-control", @type = "hidden", @id = "image" })
                                            </div>
                                            <div align="center">
                                                <button type="submit" style="margin-right:400px;" class="btn btn-primary">Yes</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>